APP_ENV=
APP_DEBUG=

PHP_DB_HOST=
PHP_DB_PORT=
PHP_DB_NAME=
PHP_DB_USER=
PHP_DB_PASSWORD=

NODE_ENV=
NODE_PORT=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

REDIS_HOST=
REDIS_PORT=

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

VITE_VAPID_PUBLIC_KEY=


NGINX_PORT=

VITE_API_URL=