.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


.modal-backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}


.modal-content {
  position: relative;
  background: #fff;
  padding: 20px 25px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  text-align: center;
  max-width: 400px;
  width: 90%;
  z-index: 10000;
  animation: fadeIn 0.2s ease;
}

.modal-content p {
  font-size: 16px;
  margin-bottom: 20px;
}


.modal-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal-actions .btn {
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.modal-actions .btn-yes {
  background-color: #00a14b;
  color: white;
}

.modal-actions .btn-no {
  background-color: #aaa;
  color: white;
}

.modal-actions .btn:hover {
  opacity: 0.9;
}

.input-number{
 width: 80%;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border: 1.5px solid #d1d5db; 
  border-radius: 8px;
  outline: none;
  transition: all 0.2s ease;
  text-align: center;
  appearance: textfield;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;

}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
