.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    min-height: calc(100vh - 100px);
}

.display img {
    width: 250px;
    height: auto;
}

.message {
    font-size: 1.1rem;
    margin: 0;
    margin-bottom: 15px;
}

.btn-back {
    background-color: #00AA5B;
    color: white;
    text-decoration: none;
    padding: 12px 35px;
    border-radius: 10px;
    
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
}

.btn-back:hover {
    background-color: #008C4A;
}