<div class="product-filter">

    <div class="filter-group">
        <label>Kategori</label>
        <div class="filter-checkboxes">
            <label><input type="checkbox" value="Elektronik"> Elektronik</label>
            <label><input type="checkbox" value="Fashion"> Fashion</label>
            <label><input type="checkbox" value="Buku & Alat Tulis"> Buku & Alat Tulis</label>
            <label><input type="checkbox" value="Olahraga"> Olahraga</label>
            <label><input type="checkbox" value="Rumah Tangga"> Rumah Tangga</label>
        </div>
    </div>


    <div class="filter-group">
        <label>Harga</label>
        <div class="filter-price">
            <input type="number" id="minPrice" placeholder="Min" />
            <span>-</span>
            <input type="number" id="maxPrice" placeholder="Maks" />
        </div>
        <div class="filter-group filter-action">
            <button class="filter-btn" id="applyFilterBtn">Apply</button>
        </div>
    </div>

</div>