<div class="hero-slider" id="slider-id">
    <div class="hero-slider__track">
        <div class="hero-slide">
            <img src="img/slide-1.jpeg" alt="Produk 1" />
            <div class="hero-slide__info">
                <h2>TUBES WBD EHEHEHAHD</h2>
                <p>Rp 120.000</p>
            </div>
        </div>

        <div class="hero-slide">
            <img src="img/slide-2.jpeg" alt="Produk 1" />
            <div class="hero-slide__info">
                <h2>2 Minggu aosdkwqoeo</h2>
                <p>Rp 120.000</p>
            </div>
        </div>

        <div class="hero-slide">
            <img src="img/slide-3.jpeg" alt="Produk 1" />
            <div class="hero-slide__info">
                <h2>Kepotong UTS anoqcvnadofan</h2>
                <p>Rp 120.000</p>
            </div>
        </div>


    </div>

    <button class="hero-slider__btn prev">‹</button>
    <button class="hero-slider__btn next">›</button>
</div>