<div id="input-number-modal" class="modal" style="display: none">
    <div class="modal-backdrop"></div>
    <div class="modal-content">
        <p id="input-number-message"></p>

        <input class="input-number" type="number" id="input-number-field" min="1" placeholder="Masukkan nilai..." />
        <div class="modal-actions">
            <button id="input-number-yes" class="btn btn-yes">Ya</button>
            <button id="input-number-no" class="btn btn-no">Tidak</button>
        </div>
    </div>
</div>