<div id="input-spinner-modal" class="modal" style="display: none">
    <div class="modal-backdrop"></div>
    <div class="modal-content">
        <p id="input-spinner-message"></p>

        <div class="spinner-input">
            <button id="spinner-decrease" class="spinner-btn">−</button>
            <input type="number" id="spinner-field" min="1" value="1" class="input-number" readonly />
            <button id="spinner-increase" class="spinner-btn">+</button>
        </div>

        <div class="modal-actions">
            <button id="spinner-no" class="btn btn-no">Tidak</button>
            <button id="spinner-yes" class="btn btn-yes">Ya</button>
        </div>
    </div>
</div>