<nav class="navbar">
    <div class="navbar__logo">MIRIP-TOKPED</div>

    <div class="navbar__search">
        <input type="text" placeholder="Cari produk..." />
        <button class="navbar__search-btn"> search </button>
    </div>

    <div class="navbar__filter">
        <select>
            <option>Semua Kategori</option>
            <option>Elektronik</option>
            <option>Pakaian</option>
            <option>Kecantikan</option>
            <option>Semua Kategori</option>
            <option>Elektronik</option>
            <option>Pakaian</option>
            <option>Kecantikan</option>
        </select>
    </div>

    <div class="navbar__auth">
        <a href="/login"><button class="btn btn-login">Login</button></a>
        <a href="/register "><button class="btn btn-register">Register</button></a>
    </div>
</nav>