<nav class="navbar">
    <div class="navbar__logo" id="navbar-logo">MIRIP-TOKPED</div>

    <div class="navbar__search">
        <input type="text" name="product-search" placeholder="Cari produk..." id="searchInput" />

        <button type="button" class="navbar__search-btn" id="searchBtn"> search </button>
        <div id="searchSuggestions" class="search-suggestions"></div>
    </div>


    <div class="navbar__filter">
        <select>
            <option>Semua Kategori</option>
            <option>Elektronik</option>
            <option>Pakaian</option>
            <option>Kecantikan</option>
            <option>Semua Kategori</option>
            <option>Elektronik</option>
            <option>Pakaian</option>
            <option>Kecantikan</option>
        </select>
    </div>

    <div id="navbar-balance"> <button class="btn btn-login">Balance : Rp</button></div>

    <div id="navbar-chart"> <button class="btn btn-login">Chart</button></div>


    <div class="navbar__auth" id="navbar-auth-btn">
    </div>
</nav>