<nav class="navbar">
    <div class="navbar__logo" id="navbar-logo">MIRIP-TOKPED</div>

    <div class="navbar__search">
        <input type="text" name="product-search" placeholder="Cari produk..." id="searchInput" />

        <button type="button" class="navbar__search-btn" id="searchBtn"> search </button>
        <div id="searchSuggestions" class="search-suggestions"></div>
    </div>

    <div id="filter-btn"> <button class="btn btn-login">Filter</button></div>

    <div id="balance-btn"> <button class="btn btn-login">Balance :<div id="userBalance"></div></button></div>

    <div id="navbar-chart"> <button class="btn btn-login" id="chartBtn">Cart <span id="userCart"></span></button></div>
    <div id="order-hist"> <button class="btn btn-login" id="chartBtn">Order</button></div>


    <div class="navbar__auth" id="navbar-auth-btn">
    </div>
</nav>
<div class="filter-container" id="filter-id"></div>
<div class="filter-container" id="balance-id"></div>